* {
    margin: 0;
    padding: 0;
  }


.menucolumn{
    display: flex;
    width: 100%;
    height: 100vh;
    
}


.chatprincipal{
    display: flex;
    background-color: #fb5607;
    flex-direction: column;
    border: 1px solid #dad7cd;
   

    /*width: 15%;
    height: 100vh;*/
    flex-grow: 1;
    flex-shrink: 6;
    flex-basis: 100%;
}

.chatcentral{
   display: flex;
   background-image: url(https://img.wallpapersafari.com/desktop/1366/768/84/64/EXOv3e.jpg);
   flex-direction: column;
   border: 1px solid #dad7cd;

   align-items: center;
   justify-content: center;

   text-align: center;
   color: #0c0c0b;

   /*width: 85%;
   height: 100vh;*/
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;


}

.chatcentral img{
    display: flex;
    width: 25%;
    border-radius: 10%;
 }

.main{
    display: flex;
    border: 1px solid #dad7cd;
    justify-content: space-between;
    height: 62px;
    /*width: 100%;*/
    /*flex-grow: 1;*/
    flex-shrink: 1;
    flex-basis: 100%;
 }

.button{
    display: flex;
    border: 1px solid #dad7cd;
    justify-content: center;
    align-items: center;
    /*height: 50%;
    width: 100%;*/
    /*flex-grow: 1;*/
    flex-shrink: 1;
    flex-basis: 100%;
 }

.user {
    display: flex;
    width: 65%;
    height: auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}




.newchat{
    display: flex;
    background-color: blueviolet;
    color: white;
    margin: 15%;
    padding: 2%;
    border: 1px solid #4c4577;
    border-radius: 5%;

}
    
.user img{
     display: flex;
     width: 40%;
     height: 70%;
     border-radius: 50%;
     padding: 5px;
 }


 .user p{
   font-size: 13px;
   color: #eff304;
   text-align: center;
   width: 130%;
   }

   .user h4{
    text-align: center;
    width: 130%;
    }



 .chat_princ_icon{
    display: flex;
  
    height:auto;
    width: 30%;
    align-items: center;
    justify-content: center;
}
 .chat_princ_icon i{
     display: flex;
     flex-wrap: nowrap;
     padding: 10%;
     color: #6b705c;
 }